#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]

In [0]:
import pandas as pd
deliveries=pd.read_csv('/content/deliveries.csv')
matches=pd.read_csv('/content/matchesnew.csv')
mask2=deliveries['dismissal_kind'].isin(['caught', 'bowled',  'lbw', 'caught and bowled',
          'stumped',  'hit wicket'])
k=deliveries[mask2].groupby('bowler')['dismissal_kind'].count().sort_values(ascending=False).head(10).index.tolist()
mask3=deliveries['bowler'].isin(k)
mask4=deliveries['over']<=20
m=deliveries[mask3 & mask4].groupby(['over','bowler'])['dismissal_kind'].count().reset_index()
m.pivot_table(index='bowler',columns='over',values='dismissal_kind',aggfunc='mean')

over               1     2     3     4     5   ...    16    17    18    19    20
bowler                                         ...
A Mishra          1.0   0.0   0.0   4.0   1.0  ...  15.0   8.0   7.0   5.0   6.0
B Kumar          19.0   7.0  13.0   4.0   4.0  ...  12.0   8.0  16.0  20.0  24.0
DJ Bravo          NaN   1.0   2.0   3.0   1.0  ...  14.0   9.0  29.0  14.0  36.0
Harbhajan Singh   5.0   6.0   1.0   7.0   4.0  ...   8.0   9.0   6.0   4.0   1.0
PP Chawla         0.0   2.0   1.0   1.0   2.0  ...  12.0  11.0   7.0   2.0   7.0
R Ashwin          7.0   1.0   5.0   6.0  10.0  ...  15.0   5.0   9.0   1.0   2.0
RA Jadeja         0.0   0.0   0.0   0.0   2.0  ...   5.0  12.0   5.0   4.0   3.0
SL Malinga       12.0  12.0   2.0   3.0   5.0  ...  18.0  14.0  29.0  36.0  25.0
SP Narine         0.0   2.0   2.0   3.0  10.0  ...   9.0  12.0  14.0  15.0  15.0
UT Yadav          6.0   8.0   7.0  13.0   5.0  ...   9.0   8.0  11.0  12.0  22.0

[10 rows x 20 columns]

In [0]:
# Q2.- Make a function for batting profile of any batsman:-                                              [Medium+]
import pandas as pd
def profile(batsman):
  deliveries=pd.read_csv('/content/deliveries.csv')
  matches=pd.read_csv('/content/matchesnew.csv')
  mask=deliveries['batsman']== batsman
  return(batsman)
  return("Innings=",len(deliveries[mask].groupby(['match_id'])))
  return("Total runs:",deliveries.groupby('batsman').get_group(batsman)['batsman_runs'].sum())
  return("MOM",matches['player_of_match'].value_counts()[batsman])
  mask1=deliveries['batsman_runs']==4
  mask2=deliveries['batsman_runs']==6
  print("boundaries",deliveries[mask1 | mask2].groupby('batsman').get_group(batsamn)['batsman_runs'].count())

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [0]:
# Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [0]:
def venue(place):
  
  d=deliveries.merge(matches,left_on='match_id',right_on='id')
  mask=d['city']==place
  return(d[mask].groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(4).index)
  
venue('Pune')

Index(['SPD Smith', 'RV Uthappa', 'MS Dhoni', 'AM Rahane'], dtype='object', name='batsman')

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [0]:
  import pandas as pd
  mask=matches['city']=='Mumbai'
  matches[mask].groupby('season').size()

season
2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8
2018     9
2019     7
dtype: int64

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [8]:
mask=deliveries['dismissal_kind'].isin(['caught','caught and bowled'])
deliveries[mask].groupby('bowler')['dismissal_kind'].count().sort_values(ascending=False).head(3)

bowler
DJ Bravo           121
SL Malinga          96
Harbhajan Singh     94
Name: dismissal_kind, dtype: int64