# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import pandas as pd
deliveries=pd.read_csv('/content/deliveries.csv')
matches=pd.read_csv('/content/matchesnew.csv')

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [4]:
import pandas as pd

print(matches.drop_duplicates(subset=['season'])['city'].value_counts().index[0])

Mumbai

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [7]:

deliveries[deliveries['bowler']=='SL Malinga'].sort_values('batsman_runs',ascending=False)['batsman'].head(3)

176034       AD Russell
106651    Azhar Mahmood
177896          CA Lynn
Name: batsman, dtype: object

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [0]:
  def topbowler(team)
    mask1=deliveries['batting_team']==team
    mask2=deliveries['dismissal_kind'].isin(['caught', 'bowled',  'lbw', 'caught and bowled',
          'stumped',  'hit wicket'])
    deliveries[mask1 & mask2]['bowler'].value_counts().index[0]

'DJ Bravo'

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [0]:
import pandas as pd

deliveries=pd.read_csv('/content/drive/My Drive/Colab Notebooks/deliveries.csv')
matches=pd.read_csv('/content/drive/My Drive/Colab Notebooks/matchesnew.csv')
def matchesnew(team):
  
  k=matches.drop_duplicates(subset=['season'],keep='last')
  
  mask1=k['team1']==team
  mask2=k['team2']==team
  if len(k[mask1 | mask2])==0:
    return("Played 0")
  else:
    p=k[mask1 | mask2].shape[0]    
    d=k[mask1 | mask2]['winner'].value_counts()
    if team in d:
     return("Played {} Won {}".format(p,d[team]))
    else :
     return("Played {} Won {}".format(p,'0')) 
matchesnew('Sunrisers Hyderabad')

'Played 2 Won 1'

In [0]:
k=matches.drop_duplicates(subset=['season'],keep='last')['team2'].value_counts()
"Chennai Super Kings" in k

True

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [8]:
def batsmanruns(batsman):
  mask=deliveries['batsman']==batsman
  m=deliveries[mask].groupby("bowling_team")
  return(m['batsman_runs'].sum())
print(batsmanruns('V Kohli'))

bowling_team
Chennai Super Kings        749
Deccan Chargers            306
Delhi Capitals              66
Delhi Daredevils           763
Gujarat Lions              283
Kings XI Punjab            636
Kochi Tuskers Kerala        50
Kolkata Knight Riders      675
Mumbai Indians             628
Pune Warriors              128
Rajasthan Royals           370
Rising Pune Supergiant      83
Rising Pune Supergiants    188
Sunrisers Hyderabad        509
Name: batsman_runs, dtype: int64